*{

}
body{
    background-color: #EDE4E2;
}

.darkGrey{
    background-color: #332D2B;
}

.teal{
    background-color: #008585;
}
.essaie{
    font-size: 2rem;
    color :#EDE4E2;
}

.logo{
    height: 64px;
    width: 64px;
    background-image: url(./Images/food-and-drink.svg);
    background-size: contain;
}