*{

}
body{
    background-color: #EDE4E2;
}

.darkGrey{
    background-color: #332D2B;
}

.teal{
    background-color: #008585;
}
.bordeau{
    background-color: #651313;


}
.green{
    background-color: #7ae582;
}

.modalMenu{

    font-size: 2rem;
    color :#EDE4E2;
}
ul {
    list-style-type: none;
  }


.logo{
    height: 64px;
    width: 64px;
    background-image: url(./Images/food-and-drink.svg);
    background-size: contain;
}

.margin{
    margin-bottom: 2vh;
}

.commu{
    width: 200px;
}
.essaie{
margin-top:10px;
 display:block;
}