*{
    background-color: #EDE4E2;
}

.darkGrey{
    background-color: #332D2B;
}
.essaie{
    background-color: #008585;
    height: 10vh;
    width: 100vw;
    font-size: 2rem;
    color :#EDE4E2;
}
.btn
{
    background-color: #332D2B;
}